<h1>Welcome</h1>
<p>List room</p>

<ul>
<% @rooms.each do |room| %>
    <li><%= link_to room.name, room_messages_path(room.id) %></li>
<%end %>
</ul>

<%= form_for @room do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
<% end %>

